VS2015\Debug*
VS2015\Release*

# Visual studio #
#################
*.iobj
*.pdb
*.ipdb 
*.db
*.aps
*.rc

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.obj

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite